<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% if logged_in? %>
<h1 id="corsi">&emsp;&emsp;&emsp;&emsp;Seleziona un corso &emsp;&emsp;&emsp;&emsp;<a href="#cerca"><%= image_tag('lente.png', :width=>'50px', :height=>'50px') %></a></h1>
	
	<div class="center">
		<section class="corsi">
			<ul>
				<li><%= link_to image_tag('c.png',:width=>"150px", :height=>"150px"), searching_path(:id => current_user.c,:linguaggio =>"C") %><br><br><%= link_to 'C', searching_path(:id => current_user.c,:linguaggio=>"C")%></li>

				<li><%= link_to image_tag('java.png',:width=>"150px", :height=>"150px"), searching_path(:id => current_user.java,:linguaggio => 'Java') %><br><br><%= link_to 'Java', searching_path(:id => current_user.java,:linguaggio=>'Java')%></li>

				<li><%= link_to image_tag('python.png',:width=>"150px", :height=>"150px"), searching_path(:id => current_user.python,:linguaggio => 'Python') %><br><br><%= link_to 'Python', searching_path(:id => current_user.python,:linguaggio=>'Python')%></li>

				<li><%= link_to image_tag('assembly.png',:width=>"150px", :height=>"150px"), searching_path(:id => current_user.assembly,:linguaggio => 'Assembly') %><br><br><%= link_to 'Assembly', searching_path(:id => current_user.assembly,:linguaggio=>'Assembly')%></li>

			</ul>
		</section>
			<section class="corsi">
			<ul>
				<li><%= link_to image_tag('sql.png',:width=>"150px", :height=>"150px"), searching_path(:id => current_user.sql,:linguaggio => 'SQL') %><br><br><%= link_to 'SQL', searching_path(:id => current_user.sql,:linguaggio=>'SQL')%></li>

				<li><%= link_to image_tag('html.png',:width=>"150px", :height=>"150px"), searching_path(:id => current_user.html,:linguaggio => 'HTML') %><br><br><%= link_to 'HTML', searching_path(:id => current_user.html,:linguaggio=>'HTML')%></li>

				<li><%= link_to image_tag('css.png',:width=>"150px", :height=>"150px"), searching_path(:id => current_user.css,:linguaggio => 'CSS') %><br><br><%= link_to 'CSS', searching_path(:id => current_user.css,:linguaggio=>'CSS')%></li>

				<li><%= link_to image_tag('javascript.png',:width=>"150px", :height=>"150px"), searching_path(:id => current_user.javascript,:linguaggio => 'Javascript') %><br><br><%= link_to 'Javascript', searching_path(:id => current_user.javascript,:linguaggio=>'Javascript')%></li>
			</ul>
			<br>

		</section>
		<hr>
		<br>
		<a name="cerca"><div class="row"></a>
    <div class="col-md-8 col-md-offset-2">
        <h5 ><b>Inserisci la parola chiave dell'argomento</b></h5>
        <%= form_tag searching_path, method: 'get' do %>
        <%= text_field_tag :searching, params[:searching] %> 

    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <%= submit_tag "Cerca", class: "btn btn-primary" %>
    </div>
    <div class="col-md-2">
        <%= link_to "Proponi una lezione", new_tutorial_path, class: "btn btn-primary", style: "width: 100%;" %>
        <br>
        <%= link_to "Proponi un quiz", new_quiz_path, class: "btn btn-primary", style: "width: 100%;" %>
        <br>
    </div>


<% end %>
	</div>

<% else %>
<div class="center jumbotron" id="intestazione">
	<h1 id="titolo">Benvenuti su </h1>

	<h1 id="titolo" style="color:#FF8100; margin-bottom: 30px"><b>The Coder</b></h1>
	
	
	<%= link_to "Iscriviti", signup_path ,id:"bottone", class: "btn btn-lg btn-primary" %>&nbsp;
	<%= link_to "Accedi", login_path, class: "btn btn-lg btn-primary" %>
	<br>
	<%= link_to raw("<i class=\"fa fa-facebook-square \"> &nbsp; Accedi con <b>Facebook</b></i>"), "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary"  %>
</div>


<% end %>
