<% if logged_in? %>
<h1 id="corsi">&emsp;&emsp;&emsp;&emsp;Seleziona un corso &emsp;&emsp;&emsp;&emsp;<a href="#cerca"><%= image_tag('lente.png', :width=>'50px', :height=>'50px') %></a></h1>
	
	<div class="center">
		<section class="corsi">
			<ul>
				<li><%= link_to image_tag('c.png',:width=>"150px", :height=>"150px"), searching_path(:linguaggio =>
					"C") %><br><br><%= link_to 'C', searching_path(:linguaggio=>"C")%></li>

				<li><%= link_to image_tag('java.png',:width=>"150px", :height=>"150px"), searching_path(:linguaggio => 'Java') %><br><br><%= link_to 'Java', searching_path(:linguaggio=>'Java')%></li>

				<li><%= link_to image_tag('python.png',:width=>"150px", :height=>"150px"), searching_path(:linguaggio => 'Python') %><br><br><%= link_to 'Python', searching_path(:linguaggio=='Python')%></li>

				<li><%= link_to image_tag('assembly.png',:width=>"150px", :height=>"150px"), searching_path(:linguaggio => 'Assembly') %><br><br><%= link_to 'Assembly', searching_path(:linguaggio=>'Assembly')%></li>

			</ul>
		</section>
			<section class="corsi">
			<ul>
				<li><%= link_to image_tag('sql.png',:width=>"150px", :height=>"150px"), searching_path(:linguaggio => 'SQL') %><br><br><%= link_to 'SQL', searching_path(:linguaggio=>'SQL')%></li>

				<li><%= link_to image_tag('html.png',:width=>"150px", :height=>"150px"), searching_path(:linguaggio => 'HTML') %><br><br><%= link_to 'HTML', searching_path(:linguaggio=>'HTML')%></li>

				<li><%= link_to image_tag('css.png',:width=>"150px", :height=>"150px"), searching_path(:linguaggio => 'CSS') %><br><br><%= link_to 'CSS', searching_path(:linguaggio=>'CSS')%></li>

				<li><%= link_to image_tag('javascript.png',:width=>"150px", :height=>"150px"), searching_path(:linguaggio => 'Javascript') %><br><br><%= link_to 'Javascript', searching_path(:linguaggio=>'Javascript')%></li>
			</ul>
			<br>

		</section>
		<hr>
		<br>
		<a name="cerca"><div class="row"></a>
    <div class="col-md-8 col-md-offset-2">
        <h5 ><b>Inserisci la parola chiave dell'argomento</b></h5>
        <%= form_tag searching_path, method: 'get' do %>
        <%= text_field_tag :searching, params[:searching] %> 
        <h5><b>Inserisci il linguaggio<b></h5>
        <%= select_tag :linguaggio,  options_for_select(['Assembly','C','CSS','HTML','Java','Javascript','Python','SQL'], params[:search]) %> 
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <%= submit_tag "Cerca", class: "btn btn-primary" %>
    </div>
    <div class="col-md-2">
        <%= link_to "Proponi un esercizio", new_tutorial_path, class: "btn btn-primary", style: "width: 100%;" %>
        <br>
    </div>

<% end %>
	</div>

<% else %>
<div class="center jumbotron">
	<h1>Benvenuti su </h1>

	<h1 style="color:#FF8100; margin-bottom: 30px"><b>The Coder</b></h1>

	<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-lg btn-primary" %>
	<%= link_to "Iscriviti", signup_path ,id:"bottone", class: "btn btn-lg btn-primary" %>
	<%= link_to "Accedi", login_path, class: "btn btn-lg btn-primary" %>
</div>


<% end %>
