<% provide(:title, 'Esercizi') %>
<h1>Tutti gli esercizi</h1>

<div class="row"> 
    <div class="col-md-8 col-md-offset-2">
        <h5><b>Inserisci la parola chiave dell'esercizio</h5>
        <%= form_tag search_path, method: 'get' do %>
        <%= text_field_tag :search, params[:search] %> 
        <h5><b>Inserisci il linguaggio</b></h5>
        <%= select_tag :linguaggio,  options_for_select(['Assembly','C','CSS','HTML','Java','Javascript','Python','SQL'], params[:search]) %> 
        <div class="row">
    <div class="col-md-9 ">
        <%= submit_tag "Cerca", class: "btn btn-primary" %>
    </div>
    <div class="col-md-3">
        <%= link_to "Proponi un esercizio", new_problem_path, class: "btn btn-primary", style: "width: 100%;" %>
        <br>
    </div>
    </div>

</div>
    
</div>

<% end %>

 <br>
 <br>
