<% provide(:title, "Edit user") %>
<h1>Completa o aggiorna il tuo profilo</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name, 'Nome' %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :nickname %>
			<%= f.text_field :nickname, class: 'form-control' %>

			<%= f.label :eta,'Età' %>
			<%= f.text_field :eta, class: 'form-control' %>

			<%= f.label :sesso %><br>
			<%= f.radio_button :sesso,'Uomo',:style=>"width:0px"%> Uomo <br>

			<%= f.radio_button :sesso, 'Donna', :style=>"width:0px"%> Donna <br><br>

			<%= f.label :istruzione,'Nella programmazione ti consideri' %>
			<%= f.select(:istruzione, options_for_select(['Principiante','Intermedio','Esperto'],:selected => f.object.istruzione)) %>
			<br>
			<br>

			<b>Aggiorna i progressi fatti nei vari corsi</b>
			<br>
			<br>
			<%= f.label :c,'C 	'%>&emsp;&emsp;&emsp;&emsp;
			<%= f.select(:c,options_for_select(['0','1','2','3','4','5','6','7','8','9','10'],:selected => f.object.c),{},{ :class => 'stile' })%>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

			<%= f.label :sql,'SQL'%>&emsp;&emsp;&emsp;
			<%= f.select(:sql,options_for_select(['0','1','2','3','4','5','6','7','8','9','10'],:selected => f.object.sql),{},{ :class => 'stile' })%>
			<br>

			<%= f.label :java,'Java'%>&emsp;&emsp;&nbsp;&thinsp;
			<%= f.select(:java,options_for_select(['0','1','2','3','4','5','6','7','8','9','10'],:selected => f.object.java),{},{ :class => 'stile' })%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

			<%= f.label :html,'HTML'%>&emsp;&emsp;&nbsp;
			<%= f.select(:html,options_for_select(['0','1','2','3','4','5','6','7','8','9','10'],:selected => f.object.html),{},{ :class => 'stile' })%>

			<br>

			<%= f.label :python,'Python'%>&emsp;&nbsp;
			<%= f.select(:python,options_for_select(['0','1','2','3','4','5','6','7','8','9','10'],:selected => f.object.python),{},{ :class => 'stile' })%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

			<%= f.label :javascript,'Javascript'%>
			<%= f.select(:javascript,options_for_select(['0','1','2','3','4','5','6','7','8','9','10'],:selected => f.object.javascript),{},{ :class => 'stile' })%>
			<br>

			<%= f.label :assembly,'Assembly'%>
			<%= f.select(:assembly,options_for_select(['0','1','2','3','4','5','6','7','8','9','10'],:selected => f.object.assembly),{},{ :class => 'stile' })%>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;


			<%= f.label :css,'CSS'%>&emsp;&emsp;&emsp;
			<%= f.select(:css,options_for_select(['0','1','2','3','4','5','6','7','8','9','10'],:selected => f.object.css),{},{ :class => 'stile' })%>
			<br>
			<br>
			<br>


			<%= f.label :privato, "Rendi il Profilo privato" %>
             <%= f.check_box :privato, {:style=> "width:0px"} %>
             <br>
             <br>
             
			
			


			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :Conferma_Password %>
			<%= f.password_field :password_confirmation, class: 'form-control'%>

			<div class="gravatar_edit">
				<%= gravatar_for @user %>
				<a href="http://gravatar.com/emails" target=_blank>Cambia</a>

			</div>
			<br>
			<br>

			<%= f.submit "Salva modifiche", class: "btn btn-primary" %>

		<% end %>
		

	</div>
</div>