<% provide(:title, @user.name) %>

<div class="row">
	<aside class="col-md-4">

		<section>
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
</section>
		<section class="stats">
				<%= render 'shared/stats' %>
			</section>
		<section style="line-height: 30px; letter-spacing: 1px">
			Nickname: <b><%= @user.nickname %></b>
			<br>
			Età: <b><%= @user.eta %></b>
			<br>
			Sesso: <b><%= @user.sesso %></b>
			<br>
			Livello di esperienza: <b><%= @user.istruzione %></b>
			<br>
			Profilo :
			<% if @user.privato %>
				<b> Privato </b>
			<% else %>
				<b>Pubblico</b>
			<% end %>
			<br>

			Progresso Corsi:
			<br>
			<% if @user.c != '0' && @user.c != '10'%>
			&emsp;	<b> C : <%= @user.c%>0% </b><br>
			<%end%>
			<% if @user.c == '10'%>
			&emsp;	<b> C : <bold style="color: green;">Completato</bold> </b><br>
			<%end%>

			
			<% if @user.java != '0' && @user.java != '10'%>
			&emsp;	<b> Java : <%= @user.java%>0% </b><br>
			<%end%>
			<% if @user.java == '10'%>
			&emsp;	<b> Java : <bold style="color: green;">Completato</bold> </b><br>
			<%end%>

			
			<% if @user.python != '0' && @user.python != '10'%>
			&emsp;	<b> Python : <%= @user.python%>0% </b><br>
			<%end%>
			<% if @user.python == '10'%>
			&emsp;	<b> Python : <bold style="color: green;">Completato</bold> </b><br>
			<%end%>

			
			<% if @user.assembly != '0' && @user.assembly != '10'%>
			&emsp;	<b> Assembly : <%= @user.assembly%>0% </b><br>
			<%end%>
			<% if @user.assembly == '10'%>
			&emsp;	<b> Assembly : <bold style="color: green;">Completato</bold> </b><br>
			<%end%>

			
			<% if @user.sql != '0' && @user.sql != '10'%>
			&emsp;	<b> SQL : <%= @user.sql%>0% </b><br>
			<%end%>
			<% if @user.sql == '10'%>
			&emsp;	<b> SQL : <bold style="color: green;">Completato</bold> </b><br>
			<%end%>

			
			<% if @user.html != '0' && @user.html != '10'%>
			&emsp;	<b> HTML : <%= @user.html%>0% </b><br>
			<%end%>
			<% if @user.html == '10'%>
			&emsp;	<b> HTML : <bold style="color: green;">Completato</bold> </b><br>
			<%end%>


			<% if @user.javascript != '0' && @user.javascript != '10'%>
			&emsp;	<b> Javascript : <%= @user.javascript%>0% </b><br>
			<%end%>
			<% if @user.javascript == '10'%>
			&emsp;	<b> Javascript : <bold style="color: green;">Completato</bold> </b><br>
			<%end%>

			
			<% if @user.css != '0' && @user.css != '10'%>
			&emsp;	<b> CSS : <%= @user.css%>0% </b><br>
			<%end%>
			<% if @user.css == '10'%>
			&emsp;	<b> CSS : <bold style="color: green;">Completato</bold> </b><br>
			<%end%> 



		</section>
	</aside>
	<div class="col-md-8">
		<%= render 'follow_form' if logged_in? %>
	</div>
	<% if !@user.privato || (current_user.following?(@user) && @user.privato) || current_user?(@user) || current_user.admin?%>
		<div class="col-md-8">
		<% if @user.microposts.any? %>
		<h3>Post (<%= @user.microposts.count %>)</h3>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		<%= will_paginate @microposts %>
		<% end%>
	</div>
	<%else%>
	<br><br>
		<h2 style="font-size: 2em !important;">PROFILO PRIVATO</h2>
		<h4>Per vedere i post pubblicati da <%= @user.name%> devi iniziare a seguirlo con il tasto <i>Follow</i> </h4>
	<%end%>
</div>
