<% provide(:title, @user.name) %>

<div class="row">
	<aside class="col-md-4">

		<section>
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
</section>
		<section class="stats">
				<%= render 'shared/stats' %>
			</section>
		<section style="line-height: 30px; letter-spacing: 1px">
			Nickname: <b><%= @user.nickname %></b>
			<br>
			Età: <b><%= @user.eta %></b>
			<br>
			Sesso: <b><%= @user.sesso %></b>
			<br>
			Livello di esperienza: <b><%= @user.istruzione %></b>
			<br>
			Profilo :
			<% if @user.privato %>
				<b> Privato </b>
			<% else %>
				<b>Pubblico</b>
			<% end %>
			<br>

			Progresso Corsi:
			<br><br>
			<% if @user.c != 0%>
		<div style="height: 40px;">
			<b style="position: absolute;line-height: 20px;left:25px;color:blue;"> <%= link_to 'C', searching_path(:linguaggio=>"C"),class: 'colore' %> </b>
			<div class="progress" style="width: 225px;position: absolute;left:120px;">
				

  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60"
  				aria-valuemin="0" aria-valuemax="100" style="width:<%=@user.c%>0%;">
    			<b><%=@user.c%>0%</b>
    			
  			</div>
			</div>
		</div>

			<%end%>


			<% if @user.java != 0%>
		<div style="height: 40px;">
			<b style="position: absolute;line-height: 20px;left:25px;color:blue;"> <%= link_to 'Java', searching_path(:linguaggio=>"Java") ,class: 'colore' %></b>
			<div class="progress" style="width: 225px;position: absolute;left:120px;">
				

  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60"
  				aria-valuemin="0" aria-valuemax="100" style="width: calc((<%=@user.java%> - 10)* 10%);">
    			<b><%=(@user.java) -10%>0%</b> 
    			
  			</div>
			</div>
		</div>

			<%end%>

			
			<% if @user.python != 0%>
		<div style="height: 40px;">
			<b style="position: absolute;line-height: 20px;left:25px;color: blue;"> <%= link_to 'Python', searching_path(:linguaggio=>"Python") ,class: 'colore' %></b>
			<div class="progress" style="width: 225px;position: absolute;left:120px;">
				

  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60"
  				aria-valuemin="0" aria-valuemax="100" style="width:calc((<%=@user.python%> - 20)* 10%);">
    			<b><%=(@user.python) -20%>0%</b>
    			
  			</div>
			</div>
		</div>

			<%end%>


			
			<% if @user.assembly != 0%>
		<div style="height: 40px;">
			<b style="position: absolute;line-height: 20px;left:25px;color:blue;"> <%= link_to 'Assembly', searching_path(:linguaggio=>"Assembly") ,class: 'colore' %></b>
			<div class="progress" style="width: 225px;position: absolute;left:120px;">
				

  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60"
  				aria-valuemin="0" aria-valuemax="100" style="width:calc((<%=@user.assembly%> - 30)* 10%);">
    			<b><%=(@user.assembly) -30%>0%</b>
    			
  			</div>
			</div>
		</div>

			<%end%>

			
			<% if @user.sql != 0%>
		<div style="height: 40px;">
			<b style="position: absolute;line-height: 20px;left:25px;color:blue;"><%= link_to 'SQL', searching_path(:linguaggio=>"SQL") ,class: 'colore' %></b>
			<div class="progress" style="width: 225px;position: absolute;left:120px;">
				

  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60"
  				aria-valuemin="0" aria-valuemax="100" style="width:calc((<%=@user.sql%> - 40)* 10%);">
    			<b><%=(@user.sql) -40%>0%</b>
    			
  			</div>
			</div>
		</div>

			<%end%>

			
			<% if @user.html != 0%>
		<div style="height: 40px;">
			<b style="position: absolute;line-height: 20px;left:25px;color:blue;"> <%= link_to 'HTML', searching_path(:linguaggio=>"HTML") ,class: 'colore' %></b>
			<div class="progress" style="width: 225px;position: absolute;left:120px;">
				

  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60"
  				aria-valuemin="0" aria-valuemax="100" style="width:calc((<%=@user.html%> - 50)* 10%);">
    			<b><%=(@user.html) -50%>0%</b>
    			
  			</div>
			</div>
		</div>

			<%end%>


			<% if @user.javascript != 0%>
		<div style="height: 40px;">
			<b style="position: absolute;line-height: 20px;left:25px;color:blue;"> <%= link_to 'Javascript', searching_path(:linguaggio=>"Javascript") ,class: 'colore' %></b>
			<div class="progress" style="width: 225px;position: absolute;left:120px;">
				

  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60"
  				aria-valuemin="0" aria-valuemax="100" style="width:calc((<%=@user.javascript%> - 70)* 10%);">
    			<b><%=(@user.javascript) -70%>0%</b>
    			
  			</div>
			</div>
		</div>

			<%end%>

			
			<% if @user.css != 0%>
		<div style="height: 40px;">
			<b style="position: absolute;line-height: 20px;left:25px;color:blue"> <%= link_to 'CSS', searching_path(:linguaggio=>"CSS") ,class: 'colore' %></b>
			<div class="progress" style="width: 225px;position: absolute;left:120px;">
				

  			<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="60"
  				aria-valuemin="0" aria-valuemax="100" style="width:calc((<%=@user.css%> - 60)* 10%);">
    			<b><%=(@user.css) -60%>0%</b>
    			
  			</div>
			</div>
		</div>

			<%end%>



		</section>
	</aside>
	<div class="col-md-8">
		<%= render 'follow_form' if logged_in? %>
	</div>
	<% if !@user.privato || (current_user.following?(@user) && @user.privato) || current_user?(@user) || current_user.admin?%>
		<div class="col-md-8">
		<% if @user.microposts.any? %>
		<h3>Post (<%= @user.microposts.count %>)</h3>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		<%= will_paginate @microposts %>
		<% end%>
	</div>
	<%else%>
	<br><br>
		<h2 style="font-size: 2em !important;">PROFILO PRIVATO</h2>
		<h4>Per vedere i post pubblicati da <%= @user.name%> devi iniziare a seguirlo con il tasto <i>Follow</i> </h4>
	<%end%>
</div>
